
<!-- product-view.component.html -->
<div class="product-view-container">
    <div class="product-details">      
      <img [src]="product.imageUrl" alt="{{ product.name }}">
      <div>
      <h2>{{ product.name }}</h2>
      <h3>{{ product.productBrand }}</h3>
      <h4>Price: ${{ product.price }}</h4>
      <p>
        <span *ngIf="!product.sale">Price: ${{ product.price }}</span>
        <span *ngIf="product.sale" class="original-price">Original Price: ${{ product.price }}</span>
        <span *ngIf="product.sale" class="discounted-price">Discounted Price: ${{ product.price - (product.price * product.discount / 100) }}</span>
      </p>
      <button (click)="addToCart()">Add to Cart</button>
      <div><p><b>About this item :</b></p></div>
      <div>
      <p>
        WHAT'S INCLUDED? You get the new iPhone 15 Pro, complete with unlimited talk, text, and data on America's Smart Network. We make it easy to keep your existing number or get a new one if you prefer. Best of all? You can upgrade to the latest iPhone every year—no trade-in required to get started. Yes, seriously.
        FORGED IN TITANIUM — iPhone 15 Pro has a strong and light aerospace-grade titanium design with a textured matte-glass back. It also features a Ceramic Shield front that’s tougher than any smartphone glass. And it’s splash, water, and dust resistant.
        ADVANCED DISPLAY — The 6.1” Super Retina XDR display with ProMotion ramps up refresh rates to 120Hz when you need exceptional graphics performance. Dynamic Island bubbles up alerts and Live Activities. Plus, with Always-On display, your Lock Screen stays glanceable, so you don’t have to tap it to stay in the know.
        GAME-CHANGING A17 PRO CHIP — A Pro-class GPU makes mobile games feel so immersive, with rich environments and realistic characters. A17 Pro is also incredibly efficient and helps to deliver amazing all-day battery life.
        POWERFUL PRO CAMERA SYSTEM — Get incredible framing flexibility with 7 pro lenses. Capture super high-resolution photos with more color and detail using the 48MP Main camera. And take sharp close-ups from far away with the 3x Telephoto camera on iPhone 15 Pro.
        CUSTOMIZABLE ACTION BUTTON — Action button is a fast track to your favorite feature. Just set the one you want, like Silent mode, Camera, Voice Memo, Shortcut, and more. Then press and hold to launch the action.
        UNLIMITED WIRELESS? Absolutely, all powered by America'a Smart Network. We brought together three of America's 5G networks to give you unparalleled nationwide coverage. Now, you benefit from the combined strength of not just one, but three networks, ensuring seamless connectivity wherever you are.</p>
      </div>
    </div>
    </div>
  </div>
