<div class="product-view-container">
    <!-- Include the app-navbar component with an option to show the category bar -->
    <app-navbar [showCategoryBar]="true"></app-navbar>

    <!-- Product details section -->
    <div class="product-details">
        <!-- Left image div for displaying small thumbnail images -->
        <div class="left-img-div">
            <!-- Use ngFor to iterate over each image in product.imgData and bind the image source -->
            <img class="smaller-img" *ngFor="let img of product.imgData" [src]="img" (click)="imgClicked(img)">
        </div>

        <!-- Right image div for displaying the selected image -->
        <div class="right-img-div">
            <img [src]="selectedImg">
        </div>

        <!-- Product information section -->
        <div>
            <!-- Product title -->
            <div class="title">{{ product.productName }}</div>

            <!-- Product brand -->
            <div class="brand">{{ product.brand }}</div>

            <!-- Product price section with sale and discount information -->
            <div class="price">
                <span *ngIf="product.sale" class="discount-price"><span
                        class="dollar">$</span>{{product.discount}}</span>
                <span class="original-price" ><span
                        class="dollar">$</span><span [ngClass]="{'is-discount' : product.sale}">{{product.price}}</span></span>
            </div>
            <!-- Cart buttons section -->
            <div class="cart-buttons">
                <button *ngIf="showAddToCart" class="add-to-cart-btn" (click)="updateQuantity(true)">Add to
                    cart</button>
                <div class="button-area" *ngIf="!showAddToCart">
                    <button class="quantity-change-btn" (click)="updateQuantity(false)"><i class="fa-solid fa-minus"></i></button>
                    <div class="quantity">{{cartQuantity}}</div>
                    <button class="quantity-change-btn" (click)="updateQuantity(true)"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <div class="desc-title">
                About this item :
            </div>
            <div>
                <p>{{product.productDesc}}</p>
            </div>
        </div>
    </div>
</div>