<div class="login-container">
    <div class="carousel-div">
        <img src="../assets/Images/Banner_img_1.jpg">
    </div>
    <div class="login-div">
        <div class="login-content">
            <div class="sign-in">
                Sign In
            </div>
            <input class="input-field" name="username" placeholder="Username">
            <input class="input-field" name="username" type="password" placeholder="Password">
            <button class="login-button">Sign In</button>
            <a class="forgot-pwd" href="/">Forgot password ?</a>
            <div class="sign-up">
                Don't already have an account? <a class="sign-up-link" href="*">Sign Up</a>
            </div>
        </div>
    </div>
</div>
