<div>
    <app-navbar [showCategoryBar]="true"></app-navbar>
    <div class="products-container">
        <div class="product" *ngFor="let product of productData; index as i" (click)="productClicked(product._id)">
            <div class="product-image">
                <img class="image" [src]="product.imgData[0]">
            </div>
            <div class="product-desc">
                <div class="product-detail">
                    <div class="product-name">
                        {{product.productName}}
                    </div>
                    <div class="brand-name">
                        {{product.brand}}
                    </div>
                </div>
                <div class="price">
                    <span *ngIf="product.sale" class="discount-price"><span class="dollar">$</span>{{product.discount}}</span>
                    <span class="original-price" [ngClass]="{'is-discount' : product.sale}"><span class="dollar">$</span>{{product.price}}</span>
                </div>
                <div class="cart-buttons">
                    <button *ngIf="addToCartData[i].addToCart" class="add-to-cart-btn" (click)="updateQuantity(true, i, $event)">Add to cart</button>
                    <div class="button-area" *ngIf="!addToCartData[i].addToCart">
                        <button class="quantity-change-btn" (click)="updateQuantity(false, i, $event)"><i class="fa-solid fa-minus"></i></button>
                        <div class="quantity">{{addToCartData[i].quantity}}</div>
                        <button class="quantity-change-btn" (click)="updateQuantity(true, i, $event)"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>