<div class="navbar-container">
    <div class="logo-navbar">
        <a (click)="homePage()">
            <img src="../assets/Logo/Logo_white.png">
        </a>
    </div>
    <div class="search-bar">
        <input type="text" class="input-field" name="search" placeholder="Search" (keyup.enter)="search($event)">
    </div>
    <div class="icons-area">
        <a> <i class="fa-regular fa-heart"></i> </a>
        <a routerLink="/user/cart"> <i class="fa-solid fa-cart-shopping"></i> </a>
        <a routerLink="/"> <i class="fa-solid fa-circle-user"></i> </a>
    </div>
</div>
<div *ngIf="showCategoryBar" class="category-bar">
    <button (click)="selectCategory('deals')">Deals</button>
    <button (click)="selectCategory('clothing')">Clothing</button>
    <button (click)="selectCategory('electronics')">Electronics</button>
    <button (click)="selectCategory('home')">Home</button>
    <button (click)="selectCategory('grocery')">Grocery</button>
    <button (click)="selectCategory('furniture')">Furniture</button>
    <button (click)="selectCategory('books')">Books</button>
    <button (click)="selectCategory('beauty')">Beauty</button>
</div>