<div>
  <div class="container">
    <router-outlet></router-outlet>
    <!-- Show notification -->
    <div *ngIf="showNotification && notificationArr.length">
      <a routerLink="/user/cart" class="notification" *ngFor="let product of notificationArr; index as i" [style.bottom]="styling[i]">
        <div class="img-notif">
          <img [src]="product.imgData[0]">
          <div class="details"><span class="name">{{product.productName}}</span> in your cart is on <span class="name">sale</span> now!!!</div>
        </div>
      </a>
    </div>
  </div>
</div>

