
<div>
    <app-navbar></app-navbar>
    <div class="padding-container">
        <div class="cart-container">
            Cart
    
        </div>
        <div class ="user-product">
            <div class="product-display">
                <!-- Product -->
                <div class="cart-image">
                    <img src="../assets/Images/Iphone_15_pro.jpeg">
    
                </div>
                <div class="Product-Details">
                    <div class="Item">
                        Apple
                    </div>
                    <div class="Description">
                        IPhone 15 Pro Max 256GB
                    </div>
                    <div class="cart-added">

                        
                        <button class="increase-btn">+</button>
                        <span class="item-quantity"><span class="quantity">1</span></span>
                        <button class="decrease-btn">-</button>
                      </div>
                </div>
            </div>
            <div class="order-summary">
                Order Summary
                
            </div>
        </div>
    </div>
</div>


<!-- <div class ="checking">
    <title>Order Details</title>

</div>

<div >

    <div class="order-details">
        <h2>Order Details</h2>
        <p><strong>Order ID:</strong> </p>
        <p><strong>Product:</strong> </p>
        <p><strong>Quantity:</strong> </p>
        <p><strong>Total Price:</strong> </p>
    </div>

    

</div>
 -->

