<div>
    <app-navbar></app-navbar>
    <form [formGroup]="addProductForm">
        <div class="add-product-container">
            <div class="title">
                Add Product
            </div>
            <div class="add-product-fields">
                <div class="field">
                    <label>Product name: <span class="required">*</span></label>
                    <input class="input-field" type="text" name="product-name" formControlName="productName">
                </div>
                <div class="field">
                    <label>Brand:  <span class="required">*</span></label>
                    <input class="input-field" type="text" name="brand" formControlName="brand">
                </div>
                <div class="field">
                    <label>Product description:  <span class="required">*</span></label>
                    <textarea class="input-field textarea" rows="5" cols="50" formControlName="productDesc"></textarea>
                </div>
                <div class="field">
                    <label>Product category: <span class="required">*</span></label>
                    <select name="category" class="input-field dropdown" formControlName="category">
                        <option value="">Select</option>
                        <option value="clothing">Clothing, Shoes, Accessories</option>
                        <option value="electronics">Electronics</option>
                        <option value="home">Home</option>
                        <option value="grocery">Grocery</option>
                        <option value="furniture">Furniture</option>
                        <option value="books">Books</option>
                        <option value="beauty">Beauty</option>
                      </select>
                </div>
                <div class="field">
                    <label>Price ($): <span class="required">*</span></label>
                    <input class="input-field" type="text" name="price" formControlName="price">
                </div>
                <div class="field">
                    <label>Quantity: <span class="required">*</span></label>
                    <input class="input-field" type="text" name="quantity" formControlName="quantity">
                </div>
                <div class="field">
                    <label>Sale :</label>
                    <input type="checkbox" class="checkbox" formControlName="sale">
                </div>
                <div class="field">
                    <label>Discount ($):</label>
                    <input class="input-field" type="text" name="Discount" formControlName="discount">
                </div>
                <div class="field">
                    <label>Product Image: <span class="required">*</span></label>
                    <input class="attach-image-btn" type="file" accept="image/*" multiple (change)="selectFiles($event)" />
                </div>
                <div class="img-preview">
                    <app-upload-images [files]="filesEvent" (imgData)="setImages($event)"></app-upload-images>
                </div>
                <div class="show-success" *ngIf="showSuccess">
                    Product added successfully!
                </div>
                <div class="show-error" *ngIf="showError">
                    Error while adding product.
                </div>
                <div class="submit-button">
                    <button type="submit" (click)="addProduct()">Add Product</button>
                </div>
            </div>
        </div>
    </form>
</div>
 