<div>   
    <app-navbar></app-navbar>
    <div class="product-list-container">
        <div class="title">
            Product List
            <button class="add-product-btn" (click)="goToAddProduct()">Add Product</button>
        </div>
        <div class="product-list">
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/Screenshot 2023-12-06 at 1.47.33 PM.png" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">iPhone 15 </div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>899.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/img2.webp" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">iPhone 15 Pro</div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>1099.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/img7.jpg" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">iPhone 15 Plus</div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>999.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/img5.jpg" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">Airpods Max</div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>999.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/Screenshot 2023-12-06 at 1.47.33 PM.png" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">iPhone 15 Pro</div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>999.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../../assets/Images/Screenshot 2023-12-06 at 1.47.33 PM.png" class="img"/>
                </div>
                <div class="product-details">
                    <div class="product-desc">
                        <div class="product-name">iPhone 15 Pro</div>
                        <div class="brand">Apple</div>
                        <div class="category"><span class="">Category: </span>Electronics</div>
                        <div class="price"><span class="dollar">$</span>999.99</div>
                    </div>
                    <div class="buttons">
                        <a href="*" class="edit-btn"><i class="fa-solid fa-pencil"></i> Edit</a>
                        <button class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>